bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Yasai.sln.DotSettings.user
Yasai.sln.DotSettings.user
Yasai.sln.DotSettings.user
Yasai/SDL2.dll
Yasai/SDL2_image.dll
Yasai/SDL2_mixer.dll
Yasai/SDL2_ttf.dll
Yasai/libFLAC-8.dll
Yasai/libfreetype-6.dll
Yasai/libjpeg-9.dll
Yasai/libmodplug-1.dll
Yasai/libmpg123-0.dll
Yasai/libogg-0.dll
Yasai/libopus-0.dll
Yasai/libopusfile-0.dll
Yasai/libpng16-16.dll
Yasai/libtiff-5.dll
Yasai/libvorbis-0.dll
Yasai/libvorbisfile-3.dll
Yasai/libwebp-7.dll